@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: collegeSlab;
    src: url(../fonts/CollegeSlabSC.otf);
}

@font-face{
    font-family: Arvo;
    src:url(../fonts/Arvo-Regular.ttf)
}

body{
    margin: 0;
    padding: 0;
    font-family: Arvo, sans-serif;
    overscroll-behavior: none;
}

img{
    cursor: pointer;
}

section{
        width: 100%;
        height: 100vh;
        position: relative;
}
.black_side{
    text-align: center;
    width: 100%;
    height: 53%;
    color: white;
    background-color: #142c30;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}
.white_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 47%;  

}

h1{
    /* padding-top: 50px; */
    margin: 0%;
    font-size: 30px;
    width: fit-content;
    /* margin:0 auto; */
}


/* Code syntax for settings icon*/

.settings{
    position: absolute;
    right:20px;
    top: 25px;
}

/*Flexbox codes begin here*/

.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    
}

.whitescore,.whitefoul{
    /* width: 35%;
   border: red solid 1px; */
   margin: 0 10px;
}

h2{
    margin: 0;
    margin-bottom: 10px;
}

.score{
    font-size: clamp(.5rem,60vw,58rem);
    height: fit-content;
    line-height: .9;
    pointer-events: none;
    /* font-family: collegeSlab; */
}

.fouls{
    font-size: 6rem;
    line-height: .95;
}
.flexboxer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.blackscore,.blackfoul{
    margin: 0px 10px;
}
.bscore{
     font-size: clamp(.5rem,50vw,65rem);
     height: fit-content;
     line-height: .9;
}
.bfouls{
    font-size: 6rem;
    line-height: 1;
}

/* Styling for timer starts here */

.timer_parent{
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 225px;
    padding: 15px;
    border-radius: 15px;
    filter: drop-shadow(0px 9px 100px rgb(111, 111, 111));
    
}

.timer_child{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.timer h1{
    font-size: clamp(1rem,7vw,6.5rem);
}

/* Styling for timer ends here */
.fouls{
    pointer-events: none;
}

/* Team names styling */

/* .team_names{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.accept_icon_container img{
    width: 45%;
}

.accept_icon,.accept_icon_black{
    width: 100%;
    margin-left: 20px;
    display: none;
}

.pause_play_button,.reset_button{
    width: 13%;
    margin: 10px;
}

.pause_play_button img,.reset_button img{
    width: 100%;
}

.team_names{
    display: flex;
    justify-content: center;
    align-items: center;
}

.score_foul_container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white_arrow_up,.white_arrow_down{
    display: none;
}
